html {
  background: url(https://raw.githubusercontent.com/cindykdao/chinomi/master/what-the-hex.png) fixed;
}
body {
  background: rgba(100, 100, 100, 0.1);
  width: 800px;
}
h1 {
  color: black;
  font-family: 'Charmonman', cursive;
  padding: 40px 20px;
}
#intro {
  background: white;
  border-bottom: 1px solid black;
  color: gray;
  font-family: Georgia;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 3px 10px 0;
  width: 500px;
}
