html {
  background: url(https://raw.githubusercontent.com/cindykdao/chinomi/master/what-the-hex.png) fixed;
}
body {
  background: rgba(150, 150, 150, 0.5);
}
h1 {
  color: black;
  font-family: 'Charmonman', cursive;
}
#intro {
  background: white;
  border-bottom: 1px solid black;
  color: gray;
  font-family: Georgia;
  font-size: 11px;
  letter-spacing: 1px;
  width: 500px;
}
